body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("teste.gif");
}

.fundo-brilho {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .fundo-brilho {
        opacity: 0.2;
    }
}

.titulo-container {
    top: 1%;
    left: 2%;
    z-index: 10;
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .fundo-brilho {
        opacity: 0.2;
    }
}

.img-convite {
    width: 60%;
    height: auto;
    z-index: 21;
}

/* =================== MOBILE ==================== */
@media (max-width: 900px) {
    .img-convite {
        width: 100%;
        height: auto;
        z-index: 21;
    }
}

.linha-imagens {
    justify-content: center;
    align-items: center;
    display: flex;
}

.minha-foto {
    z-index: 15;
    position: relative;
}

.teste-calendario,
.teste-local {
    display: inline-block;
    position: relative;
}

.img-calendario{
    margin-top: 50px;
}

.img-foto {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* MOBILE */
@media (max-width: 900px) {
    .img-foto {
        width: 500px;
        left: 3%;
        height: auto;
        z-index: 21;
    }
}

.img-local,
.img-calendario,
.img-bokas,
.img-momento {
    width: 800px;
    height: auto;
    margin-right: -150px;
    margin-left: -100px;
}

@media (max-width: 900px) {
    .img-local {
        margin-top: 50px;
        width: 500px;
        left: 3%;
        height: auto;
        z-index: 21;
    }

     .img-calendario{
        width: 400px;
        left: 3%;
        height: auto;
        z-index: 21;
     }
}

