body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("teste.gif");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundo-brilho {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1; 
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden !important;
    }
    .fundo-brilho {
        opacity: 0.2;
    }
}
.titulo-container {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 10; 
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden !important;
    }
    .fundo-brilho {
        opacity: 0.2;
    }
}

.img-convite {
    width: 60%;
    height: auto;
    z-index: 21 ;
}

/* =================== MOBILE ==================== */
@media (max-width: 900px) {

    .titulo-container {
        margin-top: 1px;
    }

    .img-convite {
        width: 100%;
        height: auto;
        z-index: 21 ;
    }
}

.minha-foto {
    z-index: 15;
    position: relative;
}

.img-foto {
    position: relative;
    max-width: 1100px;
    height: auto;
    margin-top: 470px;
    
}
/* MOBILE */
@media (max-width: 900px) {
    .img-foto{
        width: 500px;
        left: 3%;
        height: auto;
        z-index: 21 ;
        margin-top: 65px;
    }
}